@import ../config

$gutter: 11.5px

.ThreeCardList-wrapper
  display: flex;
  justify-content: center;
  margin-top: 40px

.ThreeCardList
  display: flex
  flex-wrap: wrap
  margin-top: 0
  max-width: $max-breakpoint

.ThreeCardListItem
  padding: $gutter
  margin: 0


@media(max-width: 1106px)
  .ThreeCardList
    max-width: 728px

@media(max-width: 744px)
  .ThreeCardList
    justify-content: center

@media(max-width: 363px)
  .ThreeCardList
    padding-top: 20px
  .ThreeCardListItem
    padding-top: 11.5px
    padding-bottom: 11.5px

@media(max-width: 350px)
  .ThreeCardList
    padding-top: 20px
  .ThreeCardListItem
    padding-top: 11.5px
    padding-bottom: 11.5px