@import ../config

.Live-stream-video-container
  padding-top: 0px
  padding-bottom: 112px
  position: relative
  background-color: $dark-glitched
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  padding-bottom: 300px

.Live-stream-triangle
  position: absolute
  z-index: 0
  width: 100%
  height: 100%
  max-height: 1500px;
  bottom: 0;

.Small-triangle
  background-image: linear-gradient(to top right, white 0%, white 50%, transparent 50%)
  position: absolute;
  z-index: 0
  width: 100%;
  height: 170px;
  bottom: 0;
  right: 0%;

.Live-stream-title
  text-align: center
  font-size: 36px
  font-weight: 300
  text-transform: uppercase
  color: white
  width: 100%
  margin-bottom: 60px

$gutter: 11.5px

.LiveStreamList-wrapper
  width: 100%
  justify-content: center
  max-width: 1252px
  display: flex
  flex-wrap: wrap
  margin-top: 0
  z-index: 1

.LiveStreamListItem
  padding: $gutter
  margin: 0


@media(max-width: 1106px)
  .LiveStreamList
    max-width: 728px

@media(max-width: 744px)
  .LiveStreamList
    justify-content: center

.LiveStreamBigCard
  height: 675px
  width: 1070px
  margin: 0 auto 20px auto
  color: white

.LiveStreamBigCard-video
  height: 602px

.LiveStreamBigCardFooter
  height: 70px
  display: flex
  justify-content: space-between

.LiveStreamBigCard-title
  +font-family-mixin(Montserrat-Light)
  width: 600px
  height: 100%
  margin-left: 1px
  font-size: 18px
  padding-top: 30px
  overflow: hidden

.LiveStreamBigCard-join
  +font-family-mixin(Montserrat-Medium)
  font-size: 12.5px
  border: 2px solid #05D3D8
  width: 132px
  height: 46px
  display: flex
  justify-content: center
  align-items: center
  text-transform: uppercase
  margin-right: 16px
  border-radius: 25px 25px 25px 25px
  margin-top: 15px
  color: #05D3D8
  font-weight: 500
  line-height: 15px
  z-index: 3

.LiveStreamLittleCard
  height: 400px
  width: 525px
  margin: 15px
  color: white

.LiveStreamLittleCardFooter
  height: 103px
  display: flex
  justify-content: space-between
  align-items: center

.LiveStreamLittleCard-title
  +font-family-mixin(Montserrat-Light)
  width: 300px
  height: 62px
  font-size: 18px
  margin-left: 1px
  margin-top: 40px
  overflow: hidden

.LiveStreamLittleCard-join
  +font-family-mixin(Montserrat-Medium)
  margin-right: 15px
  font-size: 12.5px
  width: 132px
  height: 46px
  display: flex
  justify-content: center
  align-items: center
  text-transform: uppercase
  border-radius: 25px 25px 25px 25px
  margin-top: 15px
  color: #05D3D8
  font-weight: 500
  line-height: 15px
  border: 2px solid #05D3D8
  z-index: 3

.Live-button
  width: 100%
  margin: 50px auto
  display: flex
  justify-content: center

.Live-stream-link
  display: flex
  align-items: center
  font-size: 24px;
  text-transform: uppercase
  color: #26FAE5
  z-index: 3

.Live-stream-link-arrow
  margin-left: 20px

