@import ../config

.Live-stream-video-container
  padding-top: 0px
  padding-bottom: 112px
  position: relative
  background-color: $dark-glitched
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  padding-bottom: 300px
  max-width: $default-width
  margin: auto
  background-color: LightSalmon

.Live-stream-triangle
  position: absolute
  z-index: 0
  width: 100%
  height: 100%
  max-height: 1500px;
  bottom: 0;

.Small-triangle
  background-image: linear-gradient(to top right, white 0%, white 50%, transparent 50%)
  position: absolute;
  z-index: 0
  width: 100%;
  height: 170px;
  bottom: 0;
  right: 0%;

.Live-stream-title
  text-align: center
  font-size: 36px
  font-weight: 300
  text-transform: uppercase
  color: white
  width: 100%
  margin-bottom: 60px
  background-color: Salmon

$gutter: 11.5px

.LiveStreamList-wrapper
  width: 100%
  justify-content: center
  max-width: $default-width
  display: flex
  flex-wrap: wrap
  margin-top: 0
  z-index: 1
  height: 100%
  background-color: LightCoral

.LiveStreamListItem
  padding: $gutter
  margin: 0
  background-color: Crimson

.LiveStreamBigCardFooter
  height: 70px
  display: flex
  justify-content: space-between
  background-color: red

.LiveStreamBigCard-title
  +font-family-mixin(Montserrat-Light)
  width: 600px
  height: 100%
  margin-left: 1px
  font-size: 18px
  padding-top: 30px
  overflow: hidden
  background-color: FireBrick

.LiveStreamBigCard-join
  +font-family-mixin(Montserrat-Medium)
  font-size: 12.5px
  border: 2px solid #05D3D8
  width: 132px
  height: 46px
  display: flex
  justify-content: center
  align-items: center
  text-transform: uppercase
  margin-right: 16px
  border-radius: 25px 25px 25px 25px
  margin-top: 15px
  color: #05D3D8
  font-weight: 500
  line-height: 15px
  z-index: 3
  background-color: DarkRed

.LiveStreamLittleCard
  height: 400px
  width: 525px
  margin: 15px
  color: white

.LiveStreamLittleCardFooter
  height: 103px
  display: flex
  justify-content: space-between
  align-items: center
  background-color: GreenYellow

.LiveStreamLittleCard-title
  +font-family-mixin(Montserrat-Light)
  width: 300px
  height: 62px
  font-size: 18px
  margin-left: 1px
  margin-top: 40px
  overflow: hidden
  background-color: Lime

.LiveStreamLittleCard-join
  +font-family-mixin(Montserrat-Medium)
  margin-right: 15px
  font-size: 12.5px
  width: 132px
  height: 46px
  display: flex
  justify-content: center
  align-items: center
  text-transform: uppercase
  border-radius: 25px 25px 25px 25px
  margin-top: 15px
  color: #05D3D8
  font-weight: 500
  line-height: 15px
  border: 2px solid #05D3D8
  z-index: 3
  background-color: PaleGreen

.Live-button
  width: 100%
  margin: 50px auto
  display: flex
  justify-content: center
  background-color: MediumSpringGreen

.Live-stream-link
  display: flex
  align-items: center
  font-size: 24px;
  text-transform: uppercase
  color: #26FAE5
  z-index: 3

.Live-stream-link-arrow
  margin-left: 20px

@media(max-width: 1106px)
  .LiveStreamList
    max-width: 728px

@media(max-width: 744px)
  .LiveStreamList
    justify-content: center

.LiveStreamBigCard
  height: 675px
  width: 1070px
  margin: 0 auto 20px auto
  color: white
    
@media(max-width: 1109px)
  .LiveStreamBigCard
    width: 900px
    height: 570px
    margin-bottom: 40px
  .Big-Video
    height: 492px

@media(max-width: 904px)
  .LiveStreamBigCard
    width: 600px
    height: 420px
    margin-bottom: 40px
  .Big-Video
    height: 340px

@media(max-width: 605px)
  .LiveStreamBigCard
    width: 525px
    height: 380px
    margin-bottom: 40px
  .Big-Video
    height: 300px
  .LiveStreamBigCard-title
    font-size: 14px
  .LiveStreamBigCard-join
    width: 100px
    height: 35px
    font-size: 10.5px

@media(max-width: 554px)
  .LiveStreamBigCard
    width: 500px
    height: 360px
  .Big-Video
    height: 280px
  .ListStreamListItem
    display: flex
    justify-content: center
    align-items: center
    width: 500px
  .LiveStreamBigCard-join
    margin-bottom: 10px
    letter-spacing: 1px
    margin-top: 0
    margin-right: 0
    width: 132px
    font-size: 10.5px
  .LiveStreamBigCardFooter
    height: 80px
    display: flex
    flex-direction: column
    align-items: center
  .LiveStreamBigCard-title
    width: 100%
    padding-top: 0
    font-size: 16px
  .LiveStreamLittleCardFooter
    flex-direction: column
    height: 80px
  .LiveStreamLittleCard-title
    width: 100%
    margin-top: 0
    font-size: 16px
    height: 50px
  .LiveStreamLittleCard-join
    height: 25px
    font-size: 10.5px
    margin-bottom: 6px
    margin-top: 0
    letter-spacing: 1px
    margin-right: 0
    
@media(max-width: 500px)
  .ListStreamListItem
    width: 400px
  .LiveStreamBigCard
    width: 400px
    margin-bottom: 0
    background-color: white
    height: 300px
    margin-bottom: 15px
  .Big-Video
    height: 225px
    width: 100%
  .LiveStreamBigCard-video
    background-color: cornsilk
  .LiveStreamBigCardFooter
    height: 70px
  .LiveStreamBigCard-title
    font-size: 12px
    margin-left: 0
  .LiveStreamBigCard-join
    font-size: 8.5px
    width: 100px
  .LiveStreamLittleCard-video
    height: 210px
    background-color: teal
  .Small-Video
    height: 210px
    width: 100%
  .LiveStreamLittleCardFooter
    height: 60px
  .LiveStreamLittleCard-title
    margin-left: 0
    font-size: 12px
    height: 40px
  .LiveStreamLittleCard-join
    font-size: 8.5px
    height: 20px
    width: 100px
  .LiveStreamLittleCard
    background-color: white
    height: 270px
  
  